*{
	margin: 0px;
	padding: 0px;
}
html{
	height: 100vh;
}

@import './components/color_variables';
@import './components/mixins';
@import '../libs/bootstrap';
@import './components/common-styles';
@import './layouts/login';

.side-panel{
	background: $black;
	flex:2;
}
.content-area-div{
	background: $white;
	flex:8;
}

.wrapper-inner-div{
	display: flex;
	flex-direction:row;
	height: 100vh;
	.top-bar{
		height: 60px;
		display: flex;
		background: #eee;
	}
}

.main-area{
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	
}

@media only screen and (min-width: $tab ) {
	.main-area{
		flex-direction: row;
		.content-div{
			flex:3;
		}
		.emulator-div{
			flex: 2;
			justify-content: center;
			align-items: center;
			display: flex;
			position: relative;
			img{
				max-width: 270px;
			}
			&:before{
				content: '';
				position: absolute;
				background: radial-gradient(circle, rgba(2, 0, 36, 0) 0%, rgba(9, 9, 121, 0) 50%, rgba($main_color, 0.37) 100%);
				display: block;
				width: calc(100vh + 100vh);
				height: calc(100vh + 100vh);
				border-radius: 50%;
				z-index: 0;
				top: -50%;
				right: -100%;
				opacity: .5;
				@include transition(all .4s ease);

			}
		}
	}
}