$main_color : #c22c2c;
$sub_color 	: #45bfa7;
$col1 		: #d5d5d5;
$white 		: #fff;
$black 		: #000;

/* Devices */
$phone 	: 320px;
$ipad 	: 768px;
$tab 	: 992px;
$desk 	: 1200px;

$lato 	: 'Lato',sans-serif;
$poppins : 'Poppins',sans-serif;